openapi: 3.0.4
info:
  title: ServiceNow Incident API - Subset
  description: API to retrieve and create incidents in ServiceNow.
  version: 1.0.0
servers:
  - url: https://dev268987.service-now.com/api
    description: ServiceNow API Server
paths:
  /now/table/sc_cat_item:
    get:
      summary: Gets a list of all catalog items
      description: Gets the complete list of all catalog items from the REST API, including their sys_id, name, short description, and HTML-formatted description field
      operationId: getAllCatalogItems
      x-openai-isConsequential: false
      parameters:
        - name: sysparm_display_value
          in: query
          schema:
            type: boolean
            default: true
        - name: sysparm_fields
          in: query
          schema:
            type: string
        - name: sysparm_limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved list of catalog items
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        sys_id:
                          type: string
                          description: Unique system identifier for the catalog item
                        name:
                          type: string
                          description: Name of the catalog item
                        short_description:
                          type: string
                          nullable: true
                          description: Brief summary of the catalog item
                        description:
                          type: string
                          description: Rich HTML-formatted description of the catalog item
  /1804822/customorderagent/catalog/variables/{sys_id}:
    get:
      operationId: createItemOrder
      summary: Create an order for a specific catalog item using its sys_id
      x-openai-isConsequential: false
      parameters:
        - name: sys_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Variables metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogVariablesResponse'
        '404':
          description: Not found
  /1804822/customorderagent/catalog/reference/lookup:
    post:
      operationId: lookupReferenceChoices
      summary: Lookup reference choices for a variable and return full updated variable set
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceLookupRequest'
      responses:
        '200':
          description: Full updated variables data (with preserved values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogVariablesResponse'
        '400':
          description: Bad request
        '404':
          description: Not found
  /1804822/customorderagent/catalog/orders:
    post:
      operationId: placeCatalogOrder
      x-openai-isConsequential: false
      summary: Place a new catalog order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                catalogItemId:
                  type: string
                quantity:
                  type: string
                variablesMetadata:
                  type: string
                "1":
                  type: string
                "2":
                  type: string
                "3":
                  type: string
                "4":
                  type: string
                "5":
                  type: string
                "6":
                  type: string
                "7":
                  type: string
                "8":
                  type: string
                "9":
                  type: string
                "10":
                  type: string
              required:
                - catalogItemId
              additionalProperties: true
      responses:
        '200':
          description: Order placed
          content:
            application/json:
              schema:
                type: object
  /now/table/sys_user:
    get:
      summary: Get Users
      description: Gets the user to use as caller or requested for when creating an incident or catalog item request
      operationId: getUsers
      x-openai-isConsequential: false
      parameters:
        - name: sysparm_fields
          in: query
          description: 'Specifies which fields to return'
          explode: false
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
        - name: sysparm_limit
          in: query
          description: Limits the number of returned records.
          explode: false
          schema:
            type: integer
        - name: sysparm_query
          in: query
          description: Encoded query string for filtering incidents.
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: User groups successfully returned.
  /now/table/sys_user_group:
    get:
      summary: Get User Groups
      description: Gets the user group to use as an assignment group when creating an incident or ticket
      operationId: getAllUserGroups
      x-openai-isConsequential: false
      security:
        - OAuth2: []
      parameters:
        - name: sysparm_fields
          in: query
          description: 'Specifies which fields to return'
          explode: false
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
        - name: sysparm_limit
          in: query
          description: Limits the number of returned records.
          explode: false
          schema:
            type: integer
        - name: sysparm_query
          in: query
          description: Encoded query string for filtering incidents.
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: User groups successfully returned.
  /now/table/sc_task:
    get:
      summary: Get Service Catalog Tasks
      description: Gets the service catalog tasks associated with a specific request
      operationId: getServiceCatalogTasks
      x-openai-isConsequential: false
      security:
        - OAuth2: []
      parameters:
        - name: sysparm_fields
          in: query
          description: 'Specifies which fields to return'
          explode: false
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
        - name: sysparm_limit
          in: query
          description: Limits the number of returned records.
          explode: false
          schema:
            type: integer
        - name: sysparm_query
          in: query
          description: Encoded query string for filtering incidents.
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: User groups successfully returned.
  /now/table/incident/{sys_id}:
    get:
      x-openai-isConsequential: false
      summary: Fetch the details of a specific incident
      description: Fetch the details of a specific incident using the sys_id of the incident.
      operationId: getIncidentDetails
      parameters:
        - name: sys_id
          in: path
          description: The unique system identifier (`sys_id`) of the incident.
          required: true
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default:
      responses:
        '200':
          description: Successful response containing incident details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      sys_id:
                        type: string
                        description: Unique system identifier of the incident.
                      number:
                        type: string
                        description: Human-readable incident number.
                      state:
                        type: string
                        description: Current state of the incident.
                      short_description:
                        type: string
                        description: Brief summary of the issue reported.
                      priority:
                        type: string
                        description: Incident priority level.
                      impact:
                        type: string
                        description: Business impact level.
                      urgency:
                        type: string
                        description: Urgency level.
                      assignment_group:
                        type: string
                        description: The group to which the incident is assigned.
                      opened_at:
                        type: string
                        description: The date at which the incident was opened.
                      opened_by:
                        type: object
                        properties:
                          display_value:
                            type: string
                            description: Name of the user who opened the incident.
                          link:
                            type: string
                            description: API link to the user's profile.
                    description: Incident details retrieved from ServiceNow.
    delete:
      x-openai-isConsequential: false
      summary: Delete an Incident
      description: Deletes an existing Incident in ServiceNow for the given sys_id
      operationId: deleteIncident
      parameters:
        - name: sys_id
          in: path
          description: The sys_id of the ServiceNow incident to delete
          required: true
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
      responses:
        '204':
          description: Incident deleted successfully
    patch:
      x-openai-isConsequential: false
      summary: Update an existing Incident
      description: Updates an existing Incident in ServiceNow for the given sys_id
      operationId: updateIncident
      parameters:
        - name: sys_id
          in: path
          description: The sys_id of the ServiceNow incident to update
          required: true
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                short_description:
                  type: string
                  description: Brief summary of the issue.
                description:
                  type: string
                  description: Detailed description of the issue.
                comments:
                  type: string
                  description: Any comments related to the incident.
                urgency:
                  type: string
                  description: Urgency level (1-3).
                category:
                  type: string
                  description: 'The category of the incident (e.g., "Network").'
                state:
                  type: string
                  description: State of the incident (e.g.,"New", "In Progress", "On Hold", "Resolved", "Closed").
        required: true
      responses:
        '201':
          description: Incident updated successfully
  /now/table/incident:
    post:
      x-openai-isConsequential: false
      summary: Create a New Incident
      description: Submits a new incident record to ServiceNow.
      operationId: createIncident
      parameters:
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                short_description:
                  type: string
                  description: Brief summary of the issue.
                description:
                  type: string
                  description: Detailed description of the issue.
                comments:
                  type: string
                  description: Any comments related to the incident.
                category:
                  type: string
                  description: 'The category of the incident (e.g., "Network").'
                urgency:
                  type: string
                  description: Urgency level (1-5).
                assignment_group:
                  type: string
                  description: sys_id of the group to which the incident should be assigned.
                opened_by:
                  type: string
                  description: User ID of the person opening the incident.
        required: true
      responses:
        '200':
          description: Incident successfully created.
          content:
            application/json:
              schema:
                type: object
    get:
      x-openai-isConsequential: false
      summary: Retrieve Incidents
      description: Fetch incidents.
      operationId: getIncidents
      parameters:
        - name: sysparm_fields
          in: query
          description: 'Specifies which fields to return (e.g., "company,priority,impact").'
          explode: false
          schema:
            type: string
        - name: sysparm_display_value
          in: query
          description: 'If true, returns display values instead of raw field values.'
          explode: false
          schema:
            type: boolean
            default: true
        - name: sysparm_limit
          in: query
          description: Limits the number of returned records.
          explode: false
          schema:
            type: integer
        - name: sysparm_query
          in: query
          description: Encoded query string for filtering incidents.
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response containing incident details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      sys_id:
                        type: string
                        description: Unique system identifier of the incident.
                      number:
                        type: string
                        description: Human-readable incident number.
                      state:
                        type: string
                        description: Current state of the incident.
                      short_description:
                        type: string
                        description: Brief summary of the issue reported.
                      priority:
                        type: string
                        description: Incident priority level.
                      impact:
                        type: string
                        description: Business impact level.
                      urgency:
                        type: string
                        description: Urgency level.
                      assignment_group:
                        type: string
                        description: The group to which the incident is assigned.
                      opened_at:
                        type: string
                        description: The date at which the incident was opened.
                      opened_by:
                        type: object
                        properties:
                          display_value:
                            type: string
                            description: Name of the user who opened the incident.
                          link:
                            type: string
                            description: API link to the user's profile.
                    description: Incident details retrieved from ServiceNow.
components:
  schemas:
    VariableChoice:
      type: object
      properties:
        title: { type: string }
        value: { type: string }
        sys_id: { type: string }
    VariableReference:
      type: object
      properties:
        table: { type: string }
        displayField: { type: string }
        lazyLoad: { type: boolean }
    VariableDef:
      type: object
      properties:
        id: { type: string }
        label: { type: string }
        type:
          type: string
          enum: [text, choice, multichoice, table, checkbox, integer, number, date, datetime]
        ui:
          type: object
          additionalProperties: true
        mandatory: { type: boolean }
        value:
          oneOf:
            - type: string
            - type: array
              items: { type: string }
            - type: boolean
        choices:
          type: array
          items: { $ref: '#/components/schemas/VariableChoice' }
        reference:
          $ref: '#/components/schemas/VariableReference'
    CatalogVariablesResponse:
      type: object
      properties:
        catalogItemId: { type: string }
        title: { type: string }
        variables:
          type: array
          items: { $ref: '#/components/schemas/VariableDef' }
    ReferenceLookupRequest:
      type: object
      required: [catalogItemId, variableId]
      properties:
        catalogItemId: { type: string }
        variableId: { type: string }
        searchTerm: { type: string }
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
    PlaceOrderFlatRequest:
      type: object
      required: [catalogItemId]
      additionalProperties: true
      properties:
        catalogItemId: { type: string }
        variables: { type: string }
    PlaceOrderResponse:
      type: object
      properties:
        request:
          type: object
          properties:
            number: { type: string }
            sys_id: { type: string }
            opened_by: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              number: { type: string }
              sys_id: { type: string }
              short_description: { type: string }
              stage: { type: string }

  securitySchemes:
    OAuth2:
      name: OAuth2
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://dev268987.service-now.com/oauth_auth.do
          tokenUrl: https://dev268987.service-now.com/oauth_token.do
          refreshUrl: https://dev268987.service-now.com/oauth_token.do
          scopes: {}